Click==7.0

Flask==1.1.1

Flask-FlatPages==0.7.1

Frozen-Flask==0.15

itsdangerous==1.1.0

Jinja2==2.10.3

Markdown==3.1.1

MarkupSafe==1.1.1

Pygments==2.4.2

PyYAML==5.1.2

Werkzeug==0.16.0

django==4.2

tensorflow==2.10.0

Keras-Preprocessing==1.1.2

Pillow==9.5.0

h5py==3.8.0

keras==2.10.0

numpy==1.23.5

opencv-python==4.7.0.72

pip==23.1.1

requests==2.28.2

scipy==1.10.1

tensorflow==2.10.0

tensorflow-gpu==2.10.0