{% block footer %} <!-- Footer -->
<footer id="footer">
    <div class="container">
        <h2>{{ contact_header }}</h2>
        <div class="info">
            <p>{{ info_name }}</p>
            <p>{{ info_group }}</p>
            <p>{{ info_university }}</p>
            <p>{{ info_mail_txt }} <span>{{ mail_address }}</span></p>
        </div>
        <p class="info">{{ address }}</p>

        <div class="social-links">
            <a href="{{ telegram }}" class="telegram"><i class="fa fa-telegram"></i></a>
            <a href="{{ vk }}" class="vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="{{ email }}" class="email"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</footer>
{% endblock %} <!-- Footer's end -->