{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="wrap" style="margin-top: 60px">
        <form method="post" enctype="multipart/form-data">
            <label class="input-file">
                <input type="file" name="photo" accept="image/png,image/jpeg" onchange="changeFilename(this)">
                <span id="label">Загрузить изображение</span>
            </label>
            <input type="submit" value="Отправить">
        </form>

    </div>

    {% if filename != '' %}
    <div class="input-img">
        <img src="{{ filename }}">

        <div class="wrap">
            <div class="input-img-text"> Предсказние пола: {{ gender }}</div>
            <div class="input-img-text">Диаграмма отображает суммарное число показателей, предсказанных для каждого
                лица.
                Если лиц много, то диаграмма является усреднением всех эмоций. Для единственного лица диаграмма
                отображает процентное распределение предсказаний нейросети
            </div>
            <div class="pie">
                <div> {{anger}} </div>
                <div> {{disgust}} </div>
                <div> {{fear}} </div>
                <div> {{happy}} </div>
                <div> {{neutral}} </div>
                <div> {{sad}} </div>
                <div> {{surprise}} </div>

                <svg viewBox="0 0 40 40">
                    <g>
                        <circle id="diagram1" data-percentage="{{ percentage[0] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <circle id="diagram2" data-percentage="{{ percentage[1] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <circle id="diagram3" data-percentage="{{ percentage[2] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <circle id="diagram4" data-percentage="{{ percentage[3] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <circle id="diagram5" data-percentage="{{ percentage[4] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <circle id="diagram6" data-percentage="{{ percentage[5] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <circle id="diagram7" data-percentage="{{ percentage[6] }}" r="15.9155" cx="50%"
                                cy="50%"></circle>
                        <text x="50%" y="50%">{{ percentage[0] }}%</text>
                        <text x="50%" y="50%">{{ percentage[1] }}%</text>
                        <text x="50%" y="50%">{{ percentage[2] }}%</text>
                        <text x="50%" y="50%">{{ percentage[3] }}%</text>
                        <text x="50%" y="50%">{{ percentage[4] }}%</text>
                        <text x="50%" y="50%">{{ percentage[5] }}%</text>
                        <text x="50%" y="50%">{{ percentage[6] }}%</text>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
